@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Major+Mono+Display&family=Mukta:wght@200&family=Permanent+Marker&family=Spline+Sans+Mono:wght@400;600;700&display=swap');

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    margin-bottom: 75px;
}

#header-wrapper{
    width: 75%;
    margin: 0 auto;
}

#header-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav a{
    margin-left: 35px;
    color: rgb(26, 26, 29);
    opacity: 0.7;
    text-decoration: none;
}

header nav a:hover{
    color: rgb(26, 26, 29);
    opacity: 1;
}

header nav a:first-child{
    opacity: 1;
    font-weight: 600;
}

#welcome-wrapper{
    width: 70%;
    margin: 0 auto;
}

#welcome-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#welcome img{
    width: 480px;
}

#welcome-p{
    width: 450px;
    font-size: 18px;
    color: #67646e;
}

#welcome h1{
    font-size: 2.5rem;
}

#welcome-button{
    color: white;
    background-color: rgb(255, 63, 29);
    border-radius: 15px;
    border: none;
    font-size: 28px;
    padding: 7px 25px;

}